.navbar {
    position: fixed;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 10px;
}

#ML {
    width: 13%;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
}

#ML:hover {
    background-color: red;
}

#AI {
    font-size: 18px;
    padding: 10px;
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
}

#AI:hover {
    background-color: red;
}

.dropdownUse {
    position: relative;
    display: inline-block;
}

.dropdownUse:hover {
    background-color: red;
}

.dropdown-contentUse {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-contentUse a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-contentUse a:hover {
    background-color: red;
}

.dropdownUse:hover .dropdown-contentUse {
    display: block;
}

#Use {
    font-size: 18px;
    padding: 10px;
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
}

#Use:hover {
    background-color: red;
}

body {
    background: url(../pictures/ML.jpg) no-repeat center center fixed;
    webkit-background-size: cover;
    moz-background-size: cover;
    o-background-size: cover;
    margin: 0;
    font-family: Arial;
    font-size: 17px;
    background-size: cover;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}